*
{
margin:0;
padding:0;
}
#main
{
  -webkit-column-width:337px;
  -moz-column-width:337px;
  -o-column-width:337px;
  -ms-column-width:337px;
  
}
.box
{
	padding:15px 0  0 15px;
	
}
.pic
{
	padding:10px;
	border:1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	width:300px;
}
.pic img
{
   width: 300px;
   height:auto;
}